.item-container{
	height: 80px;
	border-bottom: 1px solid rgba(175, 175, 175, 0.739);
	overflow: hidden;
}


.coin-image{
	display: flex;
	align-items: center;
	justify-content: center;
}

.coin-image img{
	width: 1.5rem;
	margin-right: 0.5rem;

}

.item-data{
	text-align: center;
	/* border-right: 1px solid black; */
}

.green{
	color: green;
}

.red{
	color: red;
}
